# Demo

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import SearchEngine as SE
search_eng = SE.SearchEngine() # initialize a search engine

## Search Title

In [3]:
boosting_factor = float(input("Enter to_read_boosting_factor ? :\n"))

Enter to_read_boosting_factor ? :
1.6

In [4]:
res = search_eng.query(user_id=904, text="i love",to_read_boosting_factor = boosting_factor, K=10_000, save_res=False) # we set K = 1e4 here just for demo purpose, 
# so we can see the tail of all books. This K is set to 20 by default, retrieving top 20 recommendations.

In [5]:
res.head(20) # top recommended books

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,8479,Siri Hustvedt,What I Loved,9.780341e+12,False,2.283957
1,3830,Sharon Creech,Love That Dog,9.780064e+12,False,2.256479
2,8648,"Bernadette Rossetti-Shustak, Caroline Jayne Ch...",I Love You Through And Through,9.780440e+12,False,2.208872
3,2051,Katherine Dunn,Geek Love,9.780376e+12,False,2.069071
4,3741,Lisa Gardner,Love You More,9.780554e+12,False,1.957740
5,354,Toni Morrison,Beloved,9.781400e+12,False,1.839727
6,3401,Jennifer Weiner,Who Do You Love,9.781452e+12,False,1.818193
7,6494,Julie James,A Lot Like Love,9.780425e+12,False,1.780993
8,608,"Robert Munsch, Sheila McGraw",Love You Forever,9.780921e+12,False,1.752100
9,8328,Katie Cotugno,How to Love,9.780062e+12,False,1.709967
10,6836,Judith McNaught,Perfect,9.780743e+12,False,1.699939
11,5169,Ellen Hopkins,Perfect,9.781417e+12,False,1.683304
12,863,"Sam McBratney, Anita Jeram",Guess How Much I Love You,9.780764e+12,False,1.673803
13,3384,R.L. Mathewson,Perfection,9.780983e+12,False,1.655674
14,6402,Cecily von Ziegesar,You Know You Love Me,9.780317e+12,False,1.627762
15,3412,Ian McEwan,Enduring Love,9.780099e+12,False,1.602403
16,1885,William Shakespeare,As You Like It,9.780743e+12,False,1.599520
17,2813,Caroline Kepnes,You,9.781477e+12,False,1.591579
18,9150,Rachel Joyce,Perfect,9.780858e+12,False,1.588514
19,2934,"Erich Fromm, Peter D. Kramer, Rainer Funk",The Art of Loving,9.780061e+12,False,1.587012

In [95]:
res.tail() # least recommended books

,book_id,authors,title,isbn13,in_to_read_list,final_score
9995,6088,Jennifer Chiaverini,Mrs. Lincoln's Dressmaker,9.780526e+12,False,0.139183
9996,954,Catherine Hardwicke,Twilight Director's Notebook,9.780316e+12,False,0.136671
9997,4845,"Steve Hockensmith, Jane Austen, Patrick Arrasmith",Dawn of the Dreadfuls (Pride and Prejudice and...,9.781595e+12,False,0.131745
9998,2015,Robert James Waller,The Bridges of Madison County,9.780446e+12,False,0.121296
9999,2302,Alexandra Ripley,Scarlett: The Sequel to Margaret Mitchell's Go...,9.780446e+12,False,0.115962

## Search Author 

The model would also recognize if an author name shows up in the query, thus recommending more books by the given author(s).

In [96]:
res2 = search_eng.query(user_id=309, text="Louisa May Alcott",to_read_boosting_factor = boosting_factor, K=10_000, save_res=False)

In [97]:
type(res2)

pandas.core.frame.DataFrame

In [98]:
res2.iloc[:40]

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,42,Louisa May Alcott,Little Women,9.780452e+12,False,30.717488
1,8888,Louisa May Alcott,An Old-Fashioned Girl,9.781407e+12,False,26.855170
2,3580,Louisa May Alcott,"Little Men, or Life at Plumfield with Jo's Boys",9.781407e+12,False,25.790418
3,7430,Louisa May Alcott,Rose in Bloom,9.780316e+12,False,23.298567
4,4645,Louisa May Alcott,Eight Cousins,9.780486e+12,False,14.044133
5,5458,Louisa May Alcott,"Jo's Boys, and How They Turned Out: A Sequel t...",9.781407e+12,False,13.015416
6,8740,Louisa May Alcott,Good Wives,9.781419e+12,False,11.919962
7,1210,L.M. Montgomery,Anne of Avonlea,9.780553e+12,False,1.883881
8,184,"Roald Dahl, Quentin Blake",Matilda,9.780141e+12,False,1.798325
9,5103,Daniel Silva,The English Girl,9.780062e+12,False,1.679514
10,5086,Alison Weir,The Lady Elizabeth,9.780345e+12,False,1.656890
11,7015,"Stephen King, Michael Whelan",The Little Sisters of Eluria,9.781880e+12,False,1.557920
12,3904,L.M. Montgomery,Anne of Ingleside,9.780553e+12,False,1.557261
13,2796,Alyson Richman,The Lost Wife,9.780425e+12,False,1.547128
14,1482,Anita Diamant,The Boston Girl,9.781439e+12,False,1.529494
15,2147,David Ebershoff,The 19th Wife,9.781400e+12,False,1.523369
16,426,"John Kennedy Toole, Walker Percy",A Confederacy of Dunces,9.780802e+12,True,1.502465
17,5880,Megan Whalen Turner,The Queen of Attolia,9.780061e+12,False,1.490828
18,3302,Juliet Marillier,Daughter of the Forest,9.780765e+12,False,1.490658
19,8618,Antonia Fraser,The Wives of Henry VIII,9.780680e+12,False,1.487774
20,1198,Hanya Yanagihara,A Little Life,9.780386e+12,True,1.484699
21,270,"Daphne du Maurier, Sally Beauman",Rebecca,9.781844e+12,False,1.467935
22,1222,"E.B. White, Garth Williams",Stuart Little,9.780064e+12,False,1.462221
23,6810,"Stephanie Dray, Laura Kamoie",America's First Daughter,9.780062e+12,False,1.451621
24,6090,Sarah McCoy,The Baker's Daughter,9.780307e+12,False,1.431789
25,9113,Carolly Erickson,The Last Wife of Henry VIII,9.780312e+12,False,1.427566
26,8564,"Elizabeth Gaskell, Shirley Foster",Mary Barton,9.780193e+12,False,1.423988
27,930,Elizabeth Strout,Olive Kitteridge,9.781400e+12,False,1.420596
28,1112,L.M. Montgomery,Anne of the Island,9.780553e+12,False,1.412319
29,1221,Judy Blume,Summer Sisters,9.780440e+12,False,1.409411
30,6785,"Melissa Müller, Rita Kimber, Robert Kimber",Anne Frank : The Biography,9.780805e+12,False,1.401733
31,1815,"Miep Gies, Alison Leslie Gold",Anne Frank Remembered,9.780672e+12,False,1.396316
32,1287,"Harry Allard, James Marshall",Miss Nelson Is Missing!,9.780395e+12,False,1.380956
33,2268,Jacqueline Winspear,Maisie Dobbs,9.780142e+12,False,1.377649
34,5991,Barbara Cooney,Miss Rumphius,9.780141e+12,False,1.376329
35,4014,L.M. Montgomery,Emily of New Moon,9.780553e+12,False,1.375067
36,6784,Ina May Gaskin,Ina May's Guide to Childbirth,9.780553e+12,False,1.367276
37,2186,Alison Weir,The Six Wives of Henry VIII,9.780802e+12,False,1.367262
38,1469,"Peggy Parish, Fritz Siebel",Amelia Bedelia,9.780064e+12,False,1.358936
39,6039,"Kay Thompson, Hilary Knight",Eloise,9.780671e+12,False,1.348714

In [99]:
res2.head(20) # boosting factor is 1.5

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,42,Louisa May Alcott,Little Women,9.780452e+12,False,30.717488
1,8888,Louisa May Alcott,An Old-Fashioned Girl,9.781407e+12,False,26.855170
2,3580,Louisa May Alcott,"Little Men, or Life at Plumfield with Jo's Boys",9.781407e+12,False,25.790418
3,7430,Louisa May Alcott,Rose in Bloom,9.780316e+12,False,23.298567
4,4645,Louisa May Alcott,Eight Cousins,9.780486e+12,False,14.044133
5,5458,Louisa May Alcott,"Jo's Boys, and How They Turned Out: A Sequel t...",9.781407e+12,False,13.015416
6,8740,Louisa May Alcott,Good Wives,9.781419e+12,False,11.919962
7,1210,L.M. Montgomery,Anne of Avonlea,9.780553e+12,False,1.883881
8,184,"Roald Dahl, Quentin Blake",Matilda,9.780141e+12,False,1.798325
9,5103,Daniel Silva,The English Girl,9.780062e+12,False,1.679514
10,5086,Alison Weir,The Lady Elizabeth,9.780345e+12,False,1.656890
11,7015,"Stephen King, Michael Whelan",The Little Sisters of Eluria,9.781880e+12,False,1.557920
12,3904,L.M. Montgomery,Anne of Ingleside,9.780553e+12,False,1.557261
13,2796,Alyson Richman,The Lost Wife,9.780425e+12,False,1.547128
14,1482,Anita Diamant,The Boston Girl,9.781439e+12,False,1.529494
15,2147,David Ebershoff,The 19th Wife,9.781400e+12,False,1.523369
16,426,"John Kennedy Toole, Walker Percy",A Confederacy of Dunces,9.780802e+12,True,1.502465
17,5880,Megan Whalen Turner,The Queen of Attolia,9.780061e+12,False,1.490828
18,3302,Juliet Marillier,Daughter of the Forest,9.780765e+12,False,1.490658
19,8618,Antonia Fraser,The Wives of Henry VIII,9.780680e+12,False,1.487774

# here we can see the difference by the boosting factor

In [89]:
res2.head(20) # boosting factor is 10

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,42,Louisa May Alcott,Little Women,9.780452e+12,False,30.717488
1,8888,Louisa May Alcott,An Old-Fashioned Girl,9.781407e+12,False,26.855170
2,3580,Louisa May Alcott,"Little Men, or Life at Plumfield with Jo's Boys",9.781407e+12,False,25.790418
3,7430,Louisa May Alcott,Rose in Bloom,9.780316e+12,False,23.298567
4,4645,Louisa May Alcott,Eight Cousins,9.780486e+12,False,14.044133
5,5458,Louisa May Alcott,"Jo's Boys, and How They Turned Out: A Sequel t...",9.781407e+12,False,13.015416
6,8740,Louisa May Alcott,Good Wives,9.781419e+12,False,11.919962
7,426,"John Kennedy Toole, Walker Percy",A Confederacy of Dunces,9.780802e+12,True,10.016432
8,1198,Hanya Yanagihara,A Little Life,9.780386e+12,True,9.897994
9,35,"Paulo Coelho, Alan R. Clarke",O Alquimista,9.780061e+12,True,8.424653
10,2089,John Irving,The Hotel New Hampshire,9.780553e+12,True,7.695094
11,8658,Lisa O'Donnell,The Death of Bees,9.780062e+12,True,6.874337
12,162,"Albert Camus, Matthew Ward",L’Étranger,NaN,True,6.569418
13,277,Neil Gaiman,The Ocean at the End of the Lane,9.780062e+12,True,6.285303
14,57,Sue Monk Kidd,The Secret Life of Bees,9.780142e+12,True,6.184442
15,7290,James Jones,From Here to Eternity,9.780517e+12,True,6.078287
16,178,Sylvia Plath,The Bell Jar,9.780061e+12,True,5.900660
17,94,"Gabriel García Márquez, Gregory Rabassa",Cien años de soledad,9.780061e+12,True,5.400571
18,2486,Kazuo Ishiguro,The Buried Giant,9.780307e+12,True,5.160262
19,1223,Isaac Asimov,The Foundation Trilogy,9.780381e+12,True,4.981324

In [79]:
res2.tail()

,book_id,authors,title,isbn13,in_to_read_list,final_score
9995,52,Stephenie Meyer,Eclipse,9.780316e+12,False,0.123239
9996,8874,Chuck Palahniuk,Tell-All,9.780386e+12,False,0.121539
9997,9001,"Sarah Palin, Lynn Vincent, Dewey Whetsell",Going Rogue: An American Life,9.780062e+12,False,0.120351
9998,4283,Lauren Weisberger,Revenge Wears Prada: The Devil Returns,9.781439e+12,False,0.119986
9999,2201,Aprilynne Pike,Wings,9.780062e+12,False,0.114887

## Multiligual Support
Our model would also return non-English books!

In [80]:
noneng = search_eng.query(user_id=907, text="education",to_read_boosting_factor = boosting_factor, K=20, save_res=False)

In [81]:
noneng # French and Japanese books present

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,7952,"Gustave Flaubert, Robert Baldick, Geoffrey Wall",L'Éducation sentimentale,9.780140e+12,True,15.956135
1,649,"Haruki Murakami, Jay Rubin, Philip Gabriel",いちきゅうはちよん [Ichi-Kyū-Hachi-Yon],9.780308e+12,True,2.095043
2,6452,"Tachibana Higuchi, 樋口 橘",学園アリス１,9.781428e+12,False,2.018735
3,2881,Terry Pratchett,Making Money,9.780061e+12,False,1.978432
4,5452,Gordon Korman,Schooled,9.780787e+12,False,1.926381
5,6274,Jonathan Kozol,Savage Inequalities: Children in America's Sch...,9.780061e+12,False,1.871584
6,4501,"Esther Hicks, Jerry Hicks, Wayne W. Dyer",Ask and It Is Given: Learning to Manifest Your...,9.788190e+12,False,1.870959
7,4680,Nora Roberts,Key of Knowledge,9.780739e+12,False,1.826474
8,3966,Frank McCourt,Teacher Man,9.780743e+12,False,1.775089
9,2886,Soman Chainani,The School for Good and Evil,9.780062e+12,False,1.770852
10,3654,Terry Pratchett,Unseen Academicals,9.780061e+12,False,1.741768
11,6184,Martin Amis,Money,9.780099e+12,False,1.721016
12,6835,Elizabeth George,Well-Schooled in Murder,9.780553e+12,False,1.698162
13,4875,"Lee Child, Dick Hill",Night School,9.780804e+12,False,1.691936
14,5306,Neal Stephenson,The Confusion,9.780061e+12,False,1.660984
15,7522,John Hodgman,The Areas of My Expertise,9.781594e+12,False,1.660883
16,3949,Aristotle,Politics,9.780486e+12,False,1.640363
17,9006,Forrest Carter,The Education of Little Tree,9.780826e+12,False,1.625451
18,6177,Erica Bauermeister,The School of Essential Ingredients,9.780399e+12,False,1.619685
19,9682,Mark Walden,H.I.V.E.: Higher Institute of Villainous Educa...,9.781417e+12,False,1.608038

It also supports non-English query.

In [82]:
noneng2 = search_eng.query(user_id=305, text="学園アリス１",to_read_boosting_factor = boosting_factor, K=20, save_res=False) # not really sure what this Japanense phrase means though...

In [83]:
noneng2

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,649,"Haruki Murakami, Jay Rubin, Philip Gabriel",いちきゅうはちよん [Ichi-Kyū-Hachi-Yon],9.780308e+12,True,14.257373
1,1282,"Haruki Murakami, Jay Rubin",アフターダーク [Afutā dāku],9.780307e+12,True,13.227296
2,94,"Gabriel García Márquez, Gregory Rabassa",Cien años de soledad,9.780061e+12,True,11.507612
3,1800,"Philip K. Dick, David Alabort, Manuel Espín",Ubik,9.788498e+12,True,9.654816
4,7189,Lucy Knisley,Relish: My Life in the Kitchen,9.781596e+12,True,8.209888
5,323,"Milan Kundera, Michael Henry Heim",Nesnesitelná lehkost bytí,9.780571e+12,True,7.493355
6,113,Joseph Heller,Catch-22,9.780685e+12,True,7.456581
7,816,Hilary Mantel,Wolf Hall,9.780007e+12,True,7.051714
8,537,Charles Duhigg,The Power of Habit,9.781400e+12,True,7.027875
9,775,Patti Smith,Just Kids,9.780066e+12,True,6.730245
10,8846,James Gleick,"The Information: A History, a Theory, a Flood",9.780375e+12,True,6.315574
11,7401,David James Duncan,The Brothers K,9.780553e+12,True,6.268241
12,196,Chuck Palahniuk,Fight Club,9.780393e+12,True,6.024329
13,8124,Colson Whitehead,Zone One,9.780386e+12,True,5.953709
14,322,Neil Gaiman,Neverwhere,9.780061e+12,True,5.727946
15,185,Erin Morgenstern,The Night Circus,9.780386e+12,True,5.431208
16,968,Stacy Schiff,Cleopatra: A Life,9.780316e+12,True,5.344794
17,1142,Neal Stephenson,Cryptonomicon,9.780061e+12,True,5.107441
18,7105,Daniel Abraham,The Dragon's Path,9.781841e+12,True,5.021793
19,480,Philip Pullman,The Amber Spyglass,9.780440e+12,True,5.017979

## Personalized
Different people tend to get search results in slightly different orders, based on their past reading habit and future reading plan, abeit same query text.

In [84]:
p1 = search_eng.query(user_id=233, text="hello world", to_read_boosting_factor = boosting_factor,save_res=False)
p2 = search_eng.query(user_id=1024, text="hello world",to_read_boosting_factor = boosting_factor, save_res=False)

In [85]:
p1.head()

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,969,Thomas L. Friedman,The World Is Flat: A Brief History of the Twen...,9.780374e+12,True,9.608448
1,9204,"Jeffrey D. Sachs, Bono",The End of Poverty,9.780143e+12,True,7.007147
2,1121,Cormac McCarthy,Blood Meridian: Or the Evening Redness in the ...,9.780680e+12,True,5.697989
3,7715,Alain de Botton,Essays in Love,9.780802e+12,True,3.585446
4,6676,Mhairi McFarlane,You Had Me At Hello,9.780007e+12,False,2.038930

In [86]:
p2.head()

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,377,Neil Gaiman,Stardust,9.780061e+12,True,8.204657
1,1084,Virginia Woolf,To The Lighthouse,9.781407e+12,True,7.803721
2,395,Ernest Hemingway,For Whom the Bell Tolls,9.780685e+12,True,6.378247
3,1598,Dashiell Hammett,The Maltese Falcon,9.780753e+12,True,5.729258
4,180,"Hermann Hesse, Hilda Rosner",Siddhartha,9.780553e+12,True,4.507844

## To-read List

The model considers the book on one's to-read list, and of course it is personalized based on one's past ratings. Let's see what it returns if we do not put anything in the query.

In [87]:
res3 = search_eng.query(user_id=309, text="",to_read_boosting_factor = boosting_factor, K=10_000, save_res=False)

In [88]:
res3.head(20) # Top 20 recommended books are all in user 309's to-read list!

,book_id,authors,title,isbn13,in_to_read_list,final_score
0,426,"John Kennedy Toole, Walker Percy",A Confederacy of Dunces,9.780802e+12,True,2.268086
1,35,"Paulo Coelho, Alan R. Clarke",O Alquimista,9.780061e+12,True,2.057203
2,87,"Elie Wiesel, Marion Wiesel",Un di Velt Hot Geshvign,9.780375e+12,True,1.992333
3,6310,Gavin Extence,The Universe Versus Alex Woods,9.780316e+12,True,1.946136
4,359,Khaled Hosseini,And The Mountains Echoed,9.781595e+12,True,1.934441
5,2570,Margaret Atwood,MaddAddam,9.780386e+12,True,1.909847
6,794,Stephen King,Doctor Sleep,9.781477e+12,True,1.886294
7,57,Sue Monk Kidd,The Secret Life of Bees,9.780142e+12,True,1.878380
8,181,Truman Capote,In Cold Blood,9.780680e+12,True,1.859330
9,289,Richard Adams,Watership Down,9.780380e+12,True,1.858569
10,4378,Brian McClellan,Promise of Blood,9.780316e+12,True,1.851143
11,1198,Hanya Yanagihara,A Little Life,9.780386e+12,True,1.847209
12,94,"Gabriel García Márquez, Gregory Rabassa",Cien años de soledad,9.780061e+12,True,1.814774
13,1223,Isaac Asimov,The Foundation Trilogy,9.780381e+12,True,1.813021
14,537,Charles Duhigg,The Power of Habit,9.781400e+12,True,1.808698
15,178,Sylvia Plath,The Bell Jar,9.780061e+12,True,1.798050
16,277,Neil Gaiman,The Ocean at the End of the Lane,9.780062e+12,True,1.797750
17,3525,"Naoki Higashida, K.A. Yoshida, David Mitchell",自閉症の僕が跳びはねる理由～会話のできない中学生がつづる内なる心～,9.780813e+12,True,1.790073
18,614,"Franz Kafka, Edwin Muir, Willa Muir, Max Brod",Der Prozeß,9.780099e+12,True,1.783410
19,7290,James Jones,From Here to Eternity,9.780517e+12,True,1.778359